.badge{
  padding:0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #eee;
  color:#000;
}

.orange, .sky, .yellow{
  color:#fff;
}

.orange{
  background-color: orange;
}

.sky{
  background-color: skyblue;
}

.yellow{
  background-color: gold;
}